@import '../../../styles.css';

nav{
    display: flex;
    padding: 20px;
    font-weight: 600;
    letter-spacing: -0.03em;
    font-size: 1.2em;
    justify-content: space-between;
    align-content: center;
}
/* .title{
    font-family: 'Pacifico', cursive;
    letter-spacing: 0.7px;
} */

.nav-section{
    display: flex;
    align-items: center;
}

.profile-card{
    display: flex;
    border:0px solid var(--light-grey);
    min-width: 250px;
    min-height:60px;
    background-color: var(--black);
    border-radius: 50px;
    align-items: flex-start;
}

.profile-pic{
    width:40px;
    height:40px;
    background-color: var(--light-grey);
    border-radius: 50px;
    margin: auto 0;
    margin-left:10px
}
.profile-card-content{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left:1em;
    height: fit-content;
}

.profile-name{
    font-size: 0.8em;
    color: white;
}

.profile-id{
    font-weight: 400;
    font-size: 0.7em;
}
