@import '../../../styles.css';

nav{
    display: flex;
    padding: 20px;
    font-weight: 600;
    letter-spacing: -0.03em;
    font-size: 1.2em;
    justify-content: space-between;
    align-content: center;
}
/* .title{
    font-family: 'Pacifico', cursive;
    letter-spacing: 0.7px;
} */

.nav-section{
    display: flex;
    align-items: center;
}

.profile-card{
    display: flex;
    border:0px solid var(--light-grey);
    min-width: 270px;
    min-height:60px;
    background-color: var(--black);
    border-radius: 50px;
    align-items: flex-start;
}

.profile-pic-container{
    width:40px;
    height:40px;
    background-color: var(--light-grey);
    border-radius: 50px;
    margin: auto 0;
    margin-left:10px
}

.profile-pic{
    width:40px;
    height:40px;
    background-color: var(--light-grey);
    border-radius: 50px;
    margin: auto 0;
    /* margin-left:10px */
}
.profile-card-content{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left:1em;
    margin-right: 0.2em;
    height: fit-content;
    /* align-self: space-between; */
}

.profile-name{
    font-size: 0.7em;
    color: white;
}

.profile-id{
    font-weight: 400;
    font-size: 0.6em;
}


.logout-button{
    font-size: 0.7em;
    cursor: pointer;
}

.logout-button:hover{
    color:white;
    text-decoration: underline;
}

.time-remaining{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-left:0.4em;
    padding-left:0.6em;
    height: auto;
    border-left: 0.5px solid var(--light-grey);
}

.time-value{
    margin: 0;
    color:white;
    padding: 0;
}

.time-particular{
    margin: 0;
    letter-spacing: -0.03em;
    font-size:0.7em;
    font-weight: 500;
    margin-top: 0;
}