<div class="posts-main">
    <div class="post-item">
        <div>
            <div class="post-title">How can this be done?</div>
            <div class="post-topic">
                <div class="post-topic-item">Tech</div>
            </div>
        </div>
        <div class="post-details">
            <div class="post-author">posted by <span>
                    aasjenie
                </span></div>
            <div class="post-time">
                <span>9 hrs</span> remaining
            </div>
            <div class="post-reactions">
                <div class="post-reaction-item post-reaction-active">
                    <img src="../../../assets/like.png" alt="like">
                    12
                </div>
                <div class="post-reaction-item">
                    <img src="../../../assets/clap.png" alt="clap">
                    10
                </div>
                <div class="post-reaction-item">
                    <img src="../../../assets/laugh.png" alt="laugh">
                    1
                </div>
            </div>
            <div class="comments-div">Comments</div>
        </div>
    </div>
</div>