<div class="main-comment">
    <div class="comment-nav">
        <div class="back-button" routerLink="/posts"><img src="../../../assets/back.png" alt=""></div>
        <div class="comment-title">Comments</div>
    </div>
    <div class="comment-section">
        <div class="comment-item">
            <div class="comment">
                <div class="comment-author">Anonymous 1</div>
                <div class="comment-content">;Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
                    provident
                    non debitis labore id veniam repellat ullam nihil molestiae eius reiciendis cum, amet ipsam sint
                    neque
                    dolor! Magnam, cumque pariatur!</div>
                <div>
                    <div class="post-reactions">
                        <div class="post-reaction-item post-reaction-active">
                            <img src="../../../assets/like.png" alt="like">
                            12
                        </div>
                        <div class="post-reaction-item">
                            <img src="../../../assets/clap.png" alt="clap">
                            10
                        </div>
                        <div class="post-reaction-item">
                            <img src="../../../assets/laugh.png" alt="laugh">
                            1
                        </div>
                    </div>
                </div>
            </div>
            <div class="child-comment">
                <div class="comment">
                    <div class="comment-author">Anonymous 1<div class="op-card">OP</div>
                    </div>
                    <div class="comment-content">;Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
                        provident
                        non debitis labore id veniam repellat ullam nihil molestiae eius reiciendis cum, amet ipsam sint
                        neque
                        dolor! Magnam, cumque pariatur!</div>
                    <div>
                        <div class="post-reactions">
                            <div class="post-reaction-item post-reaction-active">
                                <img src="../../../assets/like.png" alt="like">
                                12
                            </div>
                            <div class="post-reaction-item">
                                <img src="../../../assets/clap.png" alt="clap">
                                10
                            </div>
                            <div class="post-reaction-item">
                                <img src="../../../assets/laugh.png" alt="laugh">
                                1
                            </div>
                        </div>
                    </div>
                </div>
                <div class="child-comment">
                </div>
            </div>
        </div>
    </div>
</div>