<div class="main-comment">
    <div class="comment-nav-container">
        <div class="comment-nav">
            <div class="back-button" routerLink="/posts"><img src="../../../assets/back.png" alt=""></div>
            <div class="comment-title">Comments</div>
        </div>
        <div *ngIf="!newCommentBtnClicked">
            <div class="new-comment-btn" (click)="openCommentContianer()">New Comment</div>
        </div>
    </div>
    <div *ngIf="newCommentBtnClicked" class="main-new-comment">
        <input type="text" class="new-comment-input" formControlName="content" placeholder="Add your opininons here">
        <div class="new-comment-submit">
            <button class="new-comment-submit-btn" type="submit" value="submit" (click)="addComment()">Done</button>
        </div>
    </div>
    <div class="comment-section">
        <ng-container *ngFor="let comment of allComments">
            <div class="comment-item">
                <div class="comment">
                    <div class="comment-author">{{comment.author | slice:0:6}}</div>
                    <div class="comment-content">{{comment.content}}</div>
                    <div>
                        <div class="post-reactions">
                            <div class="post-reaction-item post-reaction-active">
                                <img src="../../../assets/like.png" alt="like">
                                12
                            </div>
                            <div class="post-reaction-item">
                                <img src="../../../assets/clap.png" alt="clap">
                                10
                            </div>
                            <div class="post-reaction-item">
                                <img src="../../../assets/laugh.png" alt="laugh">
                                1
                            </div>
                        </div>
                    </div>
                </div>
                <div class="child-comment">
                    <div *ngFor="let child of comment.children">
                        <div class="comment">
                            <div class="comment-author">{{child.author | slice:0:6}}
                                <!-- <div class="op-card">OP</div> -->
                            </div>
                            <div class="comment-content">{{child.content}}</div>
                            <div>
                                <div class="post-reactions">
                                    <div class="post-reaction-item post-reaction-active">
                                        <img src="../../../assets/like.png" alt="like">
                                        12
                                    </div>
                                    <div class="post-reaction-item">
                                        <img src="../../../assets/clap.png" alt="clap">
                                        10
                                    </div>
                                    <div class="post-reaction-item">
                                        <img src="../../../assets/laugh.png" alt="laugh">
                                        1
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="child-comment">
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>