.button{
    width: 150px;
    background-color: rgb(81, 81, 247);
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px;
    /* font-family: 'Pacifico', cursive; */
    letter-spacing: 0.4px;
    font-weight: 500;
    font-size: 14px;
}