.main-content{
    display: flex;
}

.hidden{
    display: none;
}

.main-display{
    margin:1em;
    margin-left: 0;
    margin-top: 0;
    background-color: var(--black);
    border-radius: 12px;
    min-width: 80dvw;
    min-height:90dvh;
    /* border:2px solid var(--light-grey); */
}